<a href="https://colab.research.google.com/github/zhanna-naumenko/DI-Bootcamp/blob/main/W5D3_DailyChallenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a Python program that performs aggregation queries to get the total number of orders, total sales amount, minimum item price, maximum item price and average order quantity using SQLAlchemy.

In [1]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (2.0.29)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (3.0.3)

In [2]:
!pip install flask_sqlalchemy

Collecting flask_sqlalchemy
  Downloading flask_sqlalchemy-3.1.1-py3-none-any.whl (25 kB)
Requirement already satisfied: flask>=2.2.5 in /usr/local/lib/python3.10/dist-packages (from flask_sqlalchemy) (2.2.5)
Requirement already satisfied: sqlalchemy>=2.0.16 in /usr/local/lib/python3.10/dist-packages (from flask_sqlalchemy) (2.0.29)
Requirement already satisfied: Werkzeug>=2.2.2 in /usr/local/lib/python3.10/dist-packages (from flask>=2.2.5->flask_sqlalchemy) (3.0.2)
Requirement already satisfied: Jinja2>=3.0 in /usr/local/lib/python3.10/dist-packages (from flask>=2.2.5->flask_sqlalchemy) (3.1.3)
Requirement already satisfied: itsdangerous>=2.0 in /usr/local/lib/python3.10/dist-packages (from flask>=2.2.5->flask_sqlalchemy) (2.2.0)
Requirement already satisfied: click>=8.0 in /usr/local/lib/python3.10/dist-packages (from flask>=2.2.5->flask_sqlalchemy) (8.1.7)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=2.0.16->flask_sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=2.0.16->flask_sqlalchemy) (3.0.3)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from Jinja2>=3.0->flask>=2.2.5->flask_sqlalchemy) (2.1.5)
Installing collected packages: flask_sqlalchemy
Successfully installed flask_sqlalchemy-3.1.1

In [3]:
from sqlalchemy import create_engine, func
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float

engine = create_engine('sqlite:///shop.db', echo=True)
Base = declarative_base()

class Order(Base):
    __tablename__ = "orders"

    order_id = Column(Integer, primary_key=True)
    user_id = Column(Integer, nullable=False)
    item_id = Column(Integer, nullable=False)
    order_quantity = Column(Integer, unique=False, nullable=False)
    price = Column(Integer, unique=False, nullable=False)
    total_cost = Column(Integer, unique=False, nullable=False)

    def __init__(self, user_id, item_id, order_quantity, price):
        self.user_id = user_id
        self.item_id = item_id
        self.order_quantity = order_quantity
        self.price = price
        self.total_cost = self.calculate_total_cost()

    def calculate_total_cost(self):
        return self.order_quantity * self.price

Base.metadata.create_all(engine)

Session = sessionmaker(bind=engine)
session = Session()

order1 = Order(user_id=10, item_id=10, order_quantity=20, price=5)
order2 = Order(user_id=12, item_id=1, order_quantity=5, price=20)
order3 = Order(user_id=12, item_id=120, order_quantity=30, price=32)
order4 = Order(user_id=19, item_id=15, order_quantity=15, price=25)
order5 = Order(user_id=16, item_id=36, order_quantity=56, price=2)

session.add_all([order1, order2, order3, order4, order5])
session.commit()


total_orders = session.query(func.count(Order.order_id)).scalar()
total_sales_amount = session.query(func.sum(Order.order_quantity * Order.price)).scalar()
min_item_price = session.query(func.min(Order.price)).scalar()
max_item_price = session.query(func.max(Order.price)).scalar()
avg_order_quantity = session.query(func.avg(Order.order_quantity)).scalar()

print("Total number of orders:", total_orders)
print("Total sales amount:", total_sales_amount)
print("Minimum item price:", min_item_price)
print("Maximum item price:", max_item_price)
print("Average order quantity:", avg_order_quantity)

session.close()

2024-04-29 15:40:33,986 INFO sqlalchemy.engine.Engine BEGIN (implicit)

<ipython-input-3-33902b952b5c>:7: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()
INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-04-29 15:40:33,993 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("orders")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("orders")

2024-04-29 15:40:34,000 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-04-29 15:40:34,005 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("orders")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("orders")

2024-04-29 15:40:34,009 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-04-29 15:40:34,014 INFO sqlalchemy.engine.Engine
CREATE TABLE orders (
	order_id INTEGER NOT NULL,
	user_id INTEGER NOT NULL,
	item_id INTEGER NOT NULL,
	order_quantity INTEGER NOT NULL,
	price INTEGER NOT NULL,
	total_cost INTEGER NOT NULL,
	PRIMARY KEY (order_id)
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE orders (
	order_id INTEGER NOT NULL,
	user_id INTEGER NOT NULL,
	item_id INTEGER NOT NULL,
	order_quantity INTEGER NOT NULL,
	price INTEGER NOT NULL,
	total_cost INTEGER NOT NULL,
	PRIMARY KEY (order_id)
)

2024-04-29 15:40:34,018 INFO sqlalchemy.engine.Engine [no key 0.00471s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00471s] ()

2024-04-29 15:40:34,048 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2024-04-29 15:40:34,059 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-04-29 15:40:34,070 INFO sqlalchemy.engine.Engine INSERT INTO orders (user_id, item_id, order_quantity, price, total_cost) VALUES (?, ?, ?, ?, ?) RETURNING order_id

INFO:sqlalchemy.engine.Engine:INSERT INTO orders (user_id, item_id, order_quantity, price, total_cost) VALUES (?, ?, ?, ?, ?) RETURNING order_id

2024-04-29 15:40:34,080 INFO sqlalchemy.engine.Engine [generated in 0.00032s (insertmanyvalues) 1/5 (ordered; batch not supported)] (10, 10, 20, 5, 100)

INFO:sqlalchemy.engine.Engine:[generated in 0.00032s (insertmanyvalues) 1/5 (ordered; batch not supported)] (10, 10, 20, 5, 100)

2024-04-29 15:40:34,084 INFO sqlalchemy.engine.Engine INSERT INTO orders (user_id, item_id, order_quantity, price, total_cost) VALUES (?, ?, ?, ?, ?) RETURNING order_id

INFO:sqlalchemy.engine.Engine:INSERT INTO orders (user_id, item_id, order_quantity, price, total_cost) VALUES (?, ?, ?, ?, ?) RETURNING order_id

2024-04-29 15:40:34,088 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/5 (ordered; batch not supported)] (12, 1, 5, 20, 100)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 2/5 (ordered; batch not supported)] (12, 1, 5, 20, 100)

2024-04-29 15:40:34,092 INFO sqlalchemy.engine.Engine INSERT INTO orders (user_id, item_id, order_quantity, price, total_cost) VALUES (?, ?, ?, ?, ?) RETURNING order_id

INFO:sqlalchemy.engine.Engine:INSERT INTO orders (user_id, item_id, order_quantity, price, total_cost) VALUES (?, ?, ?, ?, ?) RETURNING order_id

2024-04-29 15:40:34,096 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/5 (ordered; batch not supported)] (12, 120, 30, 32, 960)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 3/5 (ordered; batch not supported)] (12, 120, 30, 32, 960)

2024-04-29 15:40:34,099 INFO sqlalchemy.engine.Engine INSERT INTO orders (user_id, item_id, order_quantity, price, total_cost) VALUES (?, ?, ?, ?, ?) RETURNING order_id

INFO:sqlalchemy.engine.Engine:INSERT INTO orders (user_id, item_id, order_quantity, price, total_cost) VALUES (?, ?, ?, ?, ?) RETURNING order_id

2024-04-29 15:40:34,105 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/5 (ordered; batch not supported)] (19, 15, 15, 25, 375)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 4/5 (ordered; batch not supported)] (19, 15, 15, 25, 375)

2024-04-29 15:40:34,109 INFO sqlalchemy.engine.Engine INSERT INTO orders (user_id, item_id, order_quantity, price, total_cost) VALUES (?, ?, ?, ?, ?) RETURNING order_id

INFO:sqlalchemy.engine.Engine:INSERT INTO orders (user_id, item_id, order_quantity, price, total_cost) VALUES (?, ?, ?, ?, ?) RETURNING order_id

2024-04-29 15:40:34,113 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/5 (ordered; batch not supported)] (16, 36, 56, 2, 112)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 5/5 (ordered; batch not supported)] (16, 36, 56, 2, 112)

2024-04-29 15:40:34,118 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2024-04-29 15:40:34,138 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-04-29 15:40:34,147 INFO sqlalchemy.engine.Engine SELECT count(orders.order_id) AS count_1
FROM orders

INFO:sqlalchemy.engine.Engine:SELECT count(orders.order_id) AS count_1
FROM orders

2024-04-29 15:40:34,153 INFO sqlalchemy.engine.Engine [generated in 0.00559s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00559s] ()

2024-04-29 15:40:34,164 INFO sqlalchemy.engine.Engine SELECT sum(orders.order_quantity * orders.price) AS sum_1
FROM orders

INFO:sqlalchemy.engine.Engine:SELECT sum(orders.order_quantity * orders.price) AS sum_1
FROM orders

2024-04-29 15:40:34,170 INFO sqlalchemy.engine.Engine [generated in 0.00649s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00649s] ()

2024-04-29 15:40:34,178 INFO sqlalchemy.engine.Engine SELECT min(orders.price) AS min_1
FROM orders

INFO:sqlalchemy.engine.Engine:SELECT min(orders.price) AS min_1
FROM orders

2024-04-29 15:40:34,214 INFO sqlalchemy.engine.Engine [generated in 0.03617s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.03617s] ()

2024-04-29 15:40:34,228 INFO sqlalchemy.engine.Engine SELECT max(orders.price) AS max_1
FROM orders

INFO:sqlalchemy.engine.Engine:SELECT max(orders.price) AS max_1
FROM orders

2024-04-29 15:40:34,249 INFO sqlalchemy.engine.Engine [generated in 0.02084s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.02084s] ()

2024-04-29 15:40:34,261 INFO sqlalchemy.engine.Engine SELECT avg(orders.order_quantity) AS avg_1
FROM orders

INFO:sqlalchemy.engine.Engine:SELECT avg(orders.order_quantity) AS avg_1
FROM orders

2024-04-29 15:40:34,267 INFO sqlalchemy.engine.Engine [generated in 0.00663s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00663s] ()

Total number of orders: 5
Total sales amount: 1647
Minimum item price: 2
Maximum item price: 32
Average order quantity: 25.2
2024-04-29 15:40:34,272 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK